[Unit]
Description=Run computed DIRIGERA Adaptive schedule update daily

[Timer]
OnCalendar=*-*-* 03:10:00
Persistent=true

[Install]
WantedBy=timers.target
